{% extends 'base.html.twig' %}

{% block title %}
    Voir le détail d'une offre
{% endblock %}

{% block body %}

    <div class="offset-lg-3 col-lg-7">
        <div class="card mb-3">
            <h3 class="card-header">
                {{ offer.title}}
            </h3>

            <div class="card-body">
                <h5 class="card-title">
                    Compétences requises
                </h5>
                {{ offer.requiredSkills}}
                <h6 class="card-subtitle text-muted">
                    Date de publication
                    {{ offer.publicationDate | date('d/m/y')}}
                </h6>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ offer.description}}
                </p>
                <h6 class="card-subtitle text-muted">
                    Type de contrat:
                    {{ offer.contract }}
                </h6>
                <br>
                <h6 class="card-subtitle text-muted">
                    Date debut
                    {{ offer.startDate | date('d/m/y') }}
                    et fin
                    {{ offer.endDate | date('d/m/y') }}
                    du contrat</h6>
            </div>
        </div>

        <div class="card-subtitle text-muted">

            {% if is_granted('ROLE_USER') %}

                {% if form is defined %}
                    {{ form_start(form) }}
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                {% endif %}

            {% elseif is_granted('ROLE_RECRUITER') %}

            {% else  %}
                <a href="{{ path('login') }}" class="btn btn-primary">Connectez-vous pour postuler</a>
            {% endif %}
        </div><br></div>

{% endblock %}
